<div class="cta1-section-area sp4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="cta-header heading2">
                    <h2 class="tg-element-title">¿Listo para avanzar en tu carrera profesional?</h2>
                    <p data-aos="fade-up" data-aos-duration="800">Formación de calidad con aval universitario, docentes especializados y modalidades presencial y en línea. Inscribite hoy y comenzá tu transformación.</p>
                    <form action="#" data-aos="fade-up" data-aos-duration="1000">
                        <input type="email" placeholder="Tu correo electrónico">
                        <button type="submit" class="header-btn1">Quiero informarme <i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="cta-images">
                    <div class="cta-edu-illustration" data-aos="fade-left" data-aos-duration="900">
                        <div class="cta-edu-card cta-edu-card--1">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <span>Diplomados</span>
                        </div>
                        <div class="cta-edu-card cta-edu-card--2">
                            <i class="fa-solid fa-book-open"></i>
                            <span>Cursos</span>
                        </div>
                        <div class="cta-edu-card cta-edu-card--3">
                            <i class="fa-solid fa-award"></i>
                            <span>Certificación</span>
                        </div>
                        <div class="cta-edu-card cta-edu-card--4">
                            <i class="fa-solid fa-users"></i>
                            <span>Docentes expertos</span>
                        </div>
                        <div class="cta-edu-badge">
                            <i class="fa-solid fa-star"></i>
                            +500 egresados
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
