<div [class]="containerClass">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-logo-content sp4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo-content">
                                <img [src]="logo" alt="">
                                <p>Centro de formación continua y posgrado con aval universitario. Impulsamos el desarrollo profesional con educación de calidad.</p>
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-1 d-lg-block d-none"></div>
                        <div class="col-lg-2 col-md-6">
                            <div class="space30 d-block d-md-none"></div>
                            <div class="service-heading">
                                <h2>Programas</h2>
                                <ul>
                                    <li><a routerLink="/cursos">Cursos</a></li>
                                    <li><a routerLink="/cursos">Diplomados</a></li>
                                    <li><a routerLink="/cursos">Posgrados</a></li>
                                    <li><a routerLink="/cursos">Formación continua</a></li>
                                    <li><a routerLink="/cursos">Ver todos</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-1 d-lg-block d-none"></div>
                        <div class="col-lg-2 col-md-6">
                            <div class="space30 d-md-block d-lg-none"></div>
                            <div class="service-heading">
                                <h2>Accesos rápidos</h2>
                                <ul>
                                    <li><a routerLink="/">Inicio</a></li>
                                    <li><a routerLink="/nosotros">Nosotros</a></li>
                                    <li><a routerLink="/docentes">Docentes</a></li>
                                    <li><a routerLink="/noticias">Noticias</a></li>
                                    <li><a routerLink="/contacto">Contacto</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="space30 d-md-block d-lg-none"></div>
                            <div class="service-heading contact">
                                <h2>Contacto</h2>
                                <ul>
                                    <li><a href="tel:+59170000001">
                                        <span class="icons"><i class="fa-solid fa-phone"></i></span>
                                        <span>+591 70000001</span>
                                    </a></li>
                                    <li><a href="mailto:info@cenefco.edu.bo">
                                        <span class="icons"><i class="fa-solid fa-envelope"></i></span>
                                        <span>info&#64;cenefco.edu.bo</span>
                                    </a></li>
                                    <li><a href="javascript:void(0)">
                                        <span class="icons"><i class="fa-solid fa-location-dot"></i></span>
                                        <span>Av. Principal 123, <br>Bolivia</span>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <p>© Copyright {{currentYear}} - CENEFCO. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</div>
