<header>
    <div class="header-area {{headerClass}} header header-sticky  d-none d-lg-block" stickyScroll id="header">
        <p *ngIf="isAlert" class="header-pera">Electricity Service In Losangle City. Get Appointment Today</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-elements">
                        <div class="site-logo">
                            <a routerLink="/home-1"><img [src]="logo" alt=""></a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a routerLink="/">Inicio</a></li>
                                <li><a routerLink="/nosotros">Nosotros</a></li>
                                <li><a href="javascript:void(0)">Programas <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li *ngFor="let item of programasMenuItems">
                                            <a [routerLink]="item.link">{{item.title}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a routerLink="/docentes">Docentes</a></li>
                                <li><a href="javascript:void(0)">Institucional <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="dropdown-padding">
                                        <li *ngFor="let item of institucionalMenuItems">
                                            <a [routerLink]="item.link">{{item.title}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a routerLink="/contacto">Contacto</a></li>
                            </ul>
                        </div>
                        <div class="btn-area">
                            <a routerLink="/preinscripcion" [class]="btnClass">Pre-inscripción <i
                                    class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-mobile-menu [btnClass]="btnClass" [mobileHeaderClass]="mobileHeaderClass" [mobileLogo]="mobileLogo"
    [mobileSidebarClass]="mobileSidebarClass" />